@model DataAccessLayer.Entity.Genre

@{
    ViewBag.Title = "Edit genre " + Model.Name;
    Layout = "_Layout";
}

<div class="h-full w-full flex justify-center align-center">
    <div class="card bg-base-200 shadow-lg rounded-2xl lg:max-w-5xl w-full">
        <div class="card-body">
            <h2 class="font-bold text-xl">Edit genre @Model.Name</h2>
            <form asp-action="Edit" method="post" class="grid gap-y-2 gap-x-4 grid-cols-1">
                <div class="form-control">
                    <label class="label">
                        @Html.LabelFor(g => g.Name, new { @class = "label-text" })
                    </label>
                    @Html.TextBoxFor(g => g.Name, new { @class = "input input-bordered" })
                    <label class="label">
                        @Html.ValidationMessageFor(g => g.Name, "", new { @class = "label-text text-red-500"})
                    </label>
                </div>
                <button class="btn btn-success">
                    <i class="bi bi-plus-check"></i>
                    Save
                </button>
                @Html.ValidationSummary(false, "", new { @class = "text-red-500" })
            </form>
        </div>
    </div>
</div>

