@using WebMVC.Areas.Shop.ViewModel.WishList
@model WebMVC.ViewModels.SearchListViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/search-styles.css" />
}

<div class="section genres">
    @if (Model.Genres.Any())
    {
        <h2>Genres:</h2>
        <div class="matrix">
            @foreach (var genre in Model.Genres)
            {
                <div class="item">@genre.Name</div>
            }
        </div>
    }
    else
    {
        <p>No genres found.</p>
    }
</div>

<div class="section authors">
    @if (Model.Authors.Any())
    {
        <h2>Authors:</h2>
        <div class="matrix">
            @foreach (var author in Model.Authors)
            {
                <div class="item">@author.LastName 
                    @author.FirstName
                </div>
            }
        </div>
    }
    else
    {
        <p>No authors found.</p>
    }
</div>

<div class="flex flex-col gap-4">
    @if (Model.Books.Any())
    {
        <h2 class="font-bold text-xl">Books</h2>
        <div class="grid gap-2 lg:grid-cols-6 md:grid-cols-3 sm:grid-cols-1">
            @foreach (var book in Model.Books)
            {
                <div   class="card border border-primary shadow-lg bg-base-200 hover:bg-base-300 transition-colors duration-300">
                    <div class="card-body">
                        <h3 class="font-bold text-lg">@book.Title</h3>
                        <div class="text-sm text-neutral-400 flex flex-col gap-1">
                            <span class="font-bold">Authors</span>
                            @foreach (var author in book.Authors)
                            {
                                <p>@author.LastName @author.FirstName</p>
                            }
                        </div>
                        <p>Release: @book.ReleaseYear</p>
                        <p class="text-red-600 font-bold">@book.Price CZK</p>
                        <div class="flex w-full gap-2">
                            <a href="/Shop/Book/Detail/@book.Id" class="btn btn-primary btn-sm">Detail</a>
                            <button class="btn btn-secondary btn-outline btn-sm" onclick="@($"wishlistmodal_{book.Id}").showModal()">Wishlist</button>
                            <dialog id="@($"wishlistmodal_{book.Id}")" class="modal">
                                <div class="modal-box">
                                    <form method="dialog">
                                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                    </form>
                                    <h3 class="font-bold text-lg">Wishlist book @book.Title</h3>
                                    @await Html.PartialAsync("_AddToWishlist", new WishListItemsEditViewModel() { BookId = book.Id })
                                    @await Html.PartialAsync("_RemoveFromWishlist", new WishListItemsEditViewModel() { BookId = book.Id })
                                </div>
                              <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                              </form>
                            </dialog>
                        </div> 
                    </div>
                    
                </div>
            }
        </div>
        <div class="join">
            @if (Model.CurrentPage > 1)
            {
                <a asp-action="GlobalSearch" asp-route-page="@(Model.CurrentPage-1)" asp-route-query="@Model.Query" class="join-item btn"><i class="bi bi-chevron-left"></i></a>
            }
            @for (int i = Math.Max(1, Model.CurrentPage - 3); i <= Math.Min(Model.TotalPages, Model.CurrentPage + 3); i++)
            {
                <a asp-action="GlobalSearch"
                   asp-route-page="@i"
                   asp-route-query="@Model.Query"
                   class="join-item btn @((i == Model.CurrentPage) ? "btn-primary" : "")">
                    @i
                </a>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a asp-action="GlobalSearch" asp-route-page="@(Model.CurrentPage+1)" asp-route-query="@Model.Query" class="join-item btn"><i class="bi bi-chevron-right"></i></a>
            }
        </div>
    }
    else
    {
        <p>No books found.</p>
    }
</div>
