@model WebMVC.Areas.Shop.ViewModel.Book.BookDetailViewModel

@{
    ViewBag.Title = "Book Detail";
    Layout = "_Layout";
}

<div class="flex justify-between items-center mb-4 w-full">
    <h2 class="text-2xl font-bold text-white">@Model.Title</h2>
</div>

<div>
    <ul>
        <li>ISBN: @Model.ISBN</li>
        <li>Description: @Model.Description</li>
        <li>Price: @Model.Price</li>
        <li>Release year: @Model.ReleaseYear</li>
    </ul>
    
    <a href="/Shop/Cart/Add/@Model.Id"><button class="btn btn-secondary">Add to cart</button></a>
</div>