@using WebMVC.Areas.Shop.ViewModel.WishList
@model WebMVC.ViewModels.PaginationViewModel<WebMVC.Areas.Shop.ViewModel.Book.BookFullListViewModel>

@{
    ViewBag.Title = "All books";
    Layout = "_Layout";
}

<div class="flex flex-col gap-4">
    @if (Model.Items.Any())
    {
        <h2 class="font-bold text-xl">Books</h2>
        <div class="grid gap-2 lg:grid-cols-6 md:grid-cols-3 sm:grid-cols-1">
            @foreach (var book in Model.Items)
            {
                <div   class="card border border-primary shadow-lg bg-base-200 hover:bg-base-300 transition-colors duration-300">
                    <div class="card-body">
                        <h3 class="font-bold text-lg">@book.Title</h3>
                        <div class="text-sm text-neutral-400 flex flex-col gap-1">
                            <span class="font-bold">Authors</span>
                            @foreach (var author in book.Authors)
                            {
                                <p>@author.LastName @author.FirstName</p>
                            }
                        </div>
                        <div class="text-sm text-neutral-400 flex flex-col gap-1">
                            <span class="font-bold">Genres</span>
                            @{
                                var primaryGenre = book.BookGenres.FirstOrDefault(g => g.IsPrimary);
                                var otherGenres = book.BookGenres.Where(g => !g.IsPrimary);
                            }
                            <div class="flex flex-col gap-2">
                                @if (primaryGenre != null)
                                { 
                                    <div class="flex items-center gap-2">
                                        <span class="text-neutral-300">Primary: </span>
                                        <div class="badge badge-primary">@primaryGenre.GenreName</div>
                                    </div>
                                }
                                <div class="flex flex-wrap gap-2">
                                    @foreach (var genre in otherGenres)
                                    {
                                        <div class="badge badge-secondary">@genre.GenreName</div>
                                    }
                                </div>
                            </div>
                        </div>
                        <p>Release: @book.ReleaseYear</p>
                        <p class="text-red-600 font-bold">@book.Price CZK</p>
                        <div class="flex w-full gap-2">
                            <a href="/Shop/Book/Detail/@book.Id" class="btn btn-primary btn-sm">Detail</a>
                            <button class="btn btn-secondary btn-outline btn-sm" onclick="@($"wishlistmodal_{book.Id}").showModal()">Wishlist</button>
                            <dialog id="@($"wishlistmodal_{book.Id}")" class="modal">
                                <div class="modal-box">
                                    <form method="dialog">
                                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                    </form>
                                    <h3 class="font-bold text-lg">Wishlist book @book.Title</h3>
                                    @await Html.PartialAsync("_AddToWishList", new WishListItemsEditViewModel() { BookId = book.Id })
                                    @await Html.PartialAsync("_RemoveFromWishList", new WishListItemsEditViewModel() { BookId = book.Id })
                                </div>
                              <form method="dialog" class="modal-backdrop">
                                <button>close</button>
                              </form>
                            </dialog>
                        </div> 
                    </div>
                    
                </div>
            }
        </div>
        <div class="join">
            @if (Model.Page > 1)
            {
                <a asp-action="Index" asp-route-page="@(Model.Page-1)" class="join-item btn"><i class="bi bi-chevron-left"></i></a>
            }
            @for (int i = Math.Max(1, Model.Page - 3); i <= Math.Min(Model.TotalPages, Model.Page + 3); i++)
            {
                <a asp-action="Index"
                   asp-route-page="@i"
                   class="join-item btn @((i == Model.Page) ? "btn-primary" : "")">
                    @i
                </a>
            }
            @if (Model.Page < Model.TotalPages)
            {
                <a asp-action="Index" asp-route-page="@(Model.Page+1)" class="join-item btn"><i class="bi bi-chevron-right"></i></a>
            }
        </div>
    }
    else
    {
        <p>No books found.</p>
    }
</div>