@model WebMVC.Areas.Admin.ViewModels.Publisher.PublisherCreateViewModel

@{
    ViewBag.Title = "Create publisher";
    Layout = "_Layout";
}

<div class="h-full w-full flex justify-center align-center">
    <div class="card bg-base-200 shadow-lg rounded-2xl lg:max-w-5xl w-full">
        <div class="card-body">
            <h2 class="font-bold text-xl">Create publisher</h2>
            <form asp-action="Create" method="post" class="grid gap-y-2 gap-x-4 grid-cols-1">
                @Html.ValidationSummary(false, "", new { @class = "text-red-500" })
                <div class="form-control">
                    <label class="label">
                        @Html.LabelFor(p => p.Name, new { @class = "label-text" })
                    </label>
                    @Html.TextBoxFor(p => p.Name, new { @class = "input input-bordered" })
                    <label class="label">
                        @Html.ValidationMessageFor(p => p.Name, "", new { @class = "label-text text-red-500" })
                    </label>
                </div>
                <div class="form-control">
                    <label class="label">
                        @Html.LabelFor(p => p.Email, new { @class = "label-text" })
                    </label>
                    @Html.TextBoxFor(p => p.Email, new { @class = "input input-bordered" })
                    <label class="label">
                        @Html.ValidationMessageFor(p => p.Email, "", new { @class = "label-text text-red-500" })
                    </label>
                </div>
                <div class="form-control">
                    <label class="label">
                        @Html.LabelFor(p => p.State, new { @class = "label-text" })
                    </label>
                    @Html.TextBoxFor(p => p.State, new { @class = "input input-bordered" })
                    <label class="label">
                        @Html.ValidationMessageFor(p => p.State, "", new { @class = "label-text text-red-500" })
                    </label>
                </div>
                <button class="btn btn-success">
                    <i class="bi bi-plus-circle"></i>
                    Create
                </button>
            </form>
        </div>
    </div>
</div>

