@model DataAccessLayer.Entity.Author

@{
    ViewBag.Title = $"Edit author {Model.FirstName} {Model.LastName}";
    Layout = "_Layout";
}

<div class="h-full w-full flex justify-center align-center">
    <div class="card bg-base-200 shadow-lg rounded-2xl lg:max-w-5xl w-full">
        <div class="card-body">
            <h2 class="font-bold text-xl">Edit author @Model.FirstName @Model.LastName</h2>
            <form asp-action="Edit" method="post" class="grid gap-y-2 gap-x-4 grid-cols-1">
                <div class="form-control">
                    <label class="label">
                        @Html.LabelFor(a => a.FirstName, new { @class = "label-text" })
                    </label>
                    @Html.TextBoxFor(a => a.FirstName, new { @class = "input input-bordered" })
                </div>
                <div class="form-control">
                    <label class="label">
                        @Html.LabelFor(a => a.LastName, new { @class = "label-text" })
                    </label>
                    @Html.TextBoxFor(a => a.LastName, new { @class = "input input-bordered" })
                </div>
                <button class="btn btn-success">
                    <i class="bi bi-check-circle"></i>
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
